.ModalLogo {
    width: 100%;
}

#Projects {
    background: #212121;
    padding: 16px 0px;
}

#Projects hr {
    border-top: 1px solid white;
}

#Projects .card-columns {
    padding-top: 16px;
}

#Projects .card .card-title {
    color: black;
}

#Projects .card {
    transform: rotate(-180deg) scale(0);
    transition-duration: 1s;
}

#Projects .Visible .card {
    transform: rotate(0deg) scale(1);
}

#Projects .sectionTitle {
    opacity: 0;
    padding-top: 16px;
    text-align: center;
    transform: translateY(200px);
    transition-duration: 1s;
}

#Projects .Visible .sectionTitle {
    opacity: 1;
    transform: translateY(0px);
}

#Projects .sectionDesc {
    opacity: 0;
    text-align: center;
    transform: translateY(200px);
    transition-duration: 1s;
}

#Projects .Visible .sectionDesc {
    opacity: 1;
    transform: translateY(0px);
}

#Projects .noProjects {
    opacity: 0;
    text-align: center;
    transition-duration: 2s;
}

#Projects .Visible .noProjects {
    opacity: 1;
}

#Projects .noProjects p {
    margin-bottom: 0px;
}

.modal-body .spinner {
    text-align: center;
}

.modal-body {
    font-family: "Open Sans", sans-serif;
}

.shortDesc {
    white-space: pre-line;
}